<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Upload File</title>
</head>
<body>

<h2>{{.Title}}</h2>

<form
        enctype="multipart/form-data"
        action="http://localhost:9090/upload"
        method="post"
>
    <input type="hidden" name="authen" value={{.AuthenCode}} />
    <input type="file" name="uploadFile" />
    <input type="submit" value="UPLOAD IMAGE" />
</form>

<div>
    <p> <b> {{.Message}} </b> </p>
</div>
<div>
    <table>
        {{if .HasFileInDb }}
            <td><b>File name</b></td>
            <td><b>Content type</b></td>
            <td><b>Size</b></td>
            <td><b>ModifiedAt</b></td>
            <td><b>Action</b></td>
        {{end}}

        {{range .ListFileUploads}}
            <tr>
                <td >{{.FileName}}</td>
                <td>{{.ContentType}}</td>
                <td>{{.Size}}</td>
                <td>{{.ModifiedAt}}</td>
                <td>
                    <a href="file:{{.FilePath}}"> Download </a>
                </td>
            </tr>
        {{end}}
    </table>
</div>
</body>
</html>